@font-face {
	font-family: 'iA Writer Quattro S';
	src: url('/fonts/iAWriterQuattroS-Regular.woff2') format('woff2'),
		 url('/fonts/iAWriterQuattroS-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'iA Writer Quattro S';
	src: url('/fonts/iAWriterQuattroS-Bold.woff2') format('woff2'),
		 url('/fonts/iAWriterQuattroS-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'iA Writer Quattro S';
	src: url('/fonts/iAWriterQuattroS-Italic.woff2') format('woff2'),
		 url('/fonts/iAWriterQuattroS-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: fallback;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

body,
button,
textarea,
input {
	font-family: 'iA Writer Quattro S',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,sans-serif;
	line-height: 1.45;
}

h1 {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,sans-serif;
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 0 1.25rem;
	text-align: center;
}

button,
textarea,
input[type=text],
input[type=date] {
	-webkit-appearance: none;
}

textarea {
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	max-width: 32rem;
	font-size: 1em;
	border: 0;
	resize: none;
	outline: none;
	border: 0;
	-webkit-overflow-scrolling: touch;
}

.inline-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav a {
	color: white;
	text-decoration: none;
}

a {
	color: hsl(196, 100%, 40%);
}

button,
.button {
	font-size: 1em;
	background: hsl(196, 100%, 47%);
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	border: 0;
}

button:active,
.button:active {
	background: hsl(196, 100%, 60%);
}

.button--round {
	display: flex;
	width: 2rem;
	height: 2rem;
	padding: 0;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.button--inverted {
	background: white;
}

.icon {
	fill: white;
}

.button--inverted .icon {
	fill: hsl(196, 100%, 47%);
}

.a11y-sr-only {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
}

.flat-list {
	list-style: none;
	margin: 1rem 0 0;
	padding: 0;
}

.flat-list li {
	font-size: 2em;
	margin: 0 0 0.5rem;
	text-align: center;
}

form {
	margin-top: 2rem;
}
