* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

body,
button,
textarea,
input {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,sans-serif;
	line-height: 1.45;
}

button,
textarea,
input[type=text],
input[type=date] {
	-webkit-appearance: none;
}

textarea {
	margin: 0 auto;
	padding: 1rem;
	width: 100%;
	max-width: 32rem;
	font-size: 1em;
	border: 0;
	resize: none;
	outline: none;
	border: 0;
	-webkit-overflow-scrolling: touch;
}

.a11y-sr-only {
  overflow: hidden;
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
}
